<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307873550141-fc0qml0m8k895iess2t6l10tnuaok8q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307873550141-fc0qml0m8k895iess2t6l10tnuaok8q4</string>
	<key>API_KEY</key>
	<string>AIzaSyAE0x6QGh9q3Agn8_bW3I_Win15yJBiGtE</string>
	<key>GCM_SENDER_ID</key>
	<string>307873550141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.m1chl.rocketbot</string>
	<key>PROJECT_ID</key>
	<string>rocketbot-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>rocketbot-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307873550141:ios:4ebdeafdb4e0d0c43a3f54</string>
</dict>
</plist>